<div class="quiz-tabs">
    <div class="quiz-info">
        <p>Insert this shortcode to post content to show quiz:
            <br>
            <input id="shortcode-copy" type='text' readonly value='[qa-quiz id="{{post_id}}"]'>
        </p>

    </div>
    <h1 style="    border-bottom: 0;" class="nav-tab-wrapper">
        <a href="#questions" class="nav-tab nav-tab-active">Questions</a>
        <a href="#results" class="nav-tab">Results</a>
        <a href="#settings" class="nav-tab">Settings</a>
    </h1>
    <div class="questions" id="questions"></div>
    <div class="results" id="results" style="display: none"></div>
    <div class="settings" id="settings" style="display: none"></div>
</div>